/* Datos personales: Gabriel García Martínez, UO289097 */
/* Estilos generales del proyecto MotoGP Desktop */

/* Especificidad: 001 */
body {
    font-family: Tahoma, Verdana, Segoe, sans-serif;
    background-color: #B7AC44;
    color: black;
}

/* Especificidad 001*/
header {
    background-color: #FF8300;
}

/* Especificidad 012 */
header a {
    color: black;
    text-decoration-line: overline;
}

header a:hover {
    text-decoration-line: underline;
}

/* Especificidad 012 */
nav a.active {
    color: blue;
}

/* Especificidad 002*/
header+p {
    font-size: 0.85em;
}