/* Datos personales: Gabriel García Martínez, UO289097 */
/* Estilos generales del proyecto MotoGP Desktop */

/* Especificidad: 001 */
body {
    font-family: Tahoma, Verdana, Segoe, sans-serif;
    background-color: #F5F2E7;
    color: #222222;
}

/* Especificidad 001*/
header {
    background-color: #D43F00;
    color: #FFFFFF;
    /* No hay problema en la herencia de colores */
}

/* Especificidad 002 */
header a {
    color: white;
    text-decoration-line: overline;
    /* No hay problema en la herencia de colores */
}

/* Especificidad 012 */
header a:hover {
    text-decoration-line: underline;
    font-size: 1.2em;
}

/* Especificidad 012 */
nav a.active {
    color: blue;
    /* No hay problema en la herencia de colores */
}

/* Especificidad 002*/
header+p {
    font-size: 0.85em;
}

@media (min-width: 460px) and (max-width: 799px) {

    video {
        width: 100%;
        height: auto;
    }

    audio {
        width: 100%;
    }
}


@media (max-width: 459px) {

    header+p {
        display: none;
    }

    video {
        width: 100%;
        height: auto;
    }

    audio {
        width: 100%;
    }
}