/* Especificidad 001*/
header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

/* Especificidad 002*/
section>div {
    width: 100%;
    height: 70vh;
    max-width: 850px;
}

/* Especificidad 002*/
form label {
    display: block;
    margin-bottom: 7px;
}

@media (min-width: 320px) and (max-width: 799px) {

    /* Especificidad 001*/
    header {
        /* Se produce advertencia por redefinici贸n en media query */
        display: flex;
        /* Se produce advertencia por redefinici贸n en media query */
        flex-direction: column;
    }

    /* Especificidad 002*/
    section>div {
        /* Se produce advertencia por redefinici贸n en media query */
        width: 100%;
        /* Se produce advertencia por redefinici贸n en media query */
        height: 50vh;
    }

    /* Especificidad 003*/
    section h2+img {
        width: 100%;
        height: auto;
    }
}