/* Especificidad 001*/
header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

@media (min-width: 320px) and (max-width: 799px) {
    header {
        display: flex;
        flex-direction: column;
    }
}