/* Especificidad: 001 */
main {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 1.5em;
    justify-items: center;
    align-items: center;
    padding: 2em;
}

/* Especificidad: 002 */
main>h2 {
    grid-column: 1 / -1;
    text-align: center;
    font-size: 1.8em;
    /* No hay problema en la herencia de colores */
    color: black;
    margin: 0.5em 0 1.5em 0;
}

/* Especificidad: 001 */
h3 {
    text-align: center;
}

/* Especificidad: 002 */
main>p {
    grid-column: 1 / -1;
    text-align: center;
    font-size: 1.4em;
    margin: 0 0 1em 0;
}

@media (min-width: 320px) and (max-width: 799px) {

    /* Especificidad: 001 */
    main {
        /* Se produce advertencia por redefinición en media query */
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: auto repeat(6, 1fr);
        /* Se produce advertencia por redefinición en media query */
        gap: 1em;
    }
}